@using Microsoft.AspNetCore.Html
@model SimpleScheduler.Views.SimpleScheduler.Executions

@{
    ViewData["Title"] = $"Executions ({Model.TotalExecutions})";
    Layout = "_Layout";
}

<table class="table is-striped jobs container">
    <thead>
    <tr>
        <th>Job key</th>
        <th>State</th>
        <th>Started</th>
        <th>Ended</th>
        <th>Detail</th>
    </tr>
    </thead>

    <tbody>
    <tr style="display: none" id="job-unknown">
        <td class="key">0</td>
        <td class="state"><span class="tag">0</span></td>
        <td class="start-time">0</td>
        <td class="end-time">0</td>
        <td class="detail">0</td>
    </tr>

    @foreach (var info in Model.ExecutionsList)
    {
        <tr  id="job-@info.Id">
            <td class="key">@info.Key</td>
            <td class="state"><span class="tag @info.State">@info.State</span></td>
            <td class="start-time">@info.Started</td>
            <td class="end-time">@info.Ended</td>
            <td class="detail"><a target="_blank" href="/simple-scheduler/executions/@info.Id">Click</a></td>
        </tr>
    }
    </tbody>
</table>

<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <ul class="pagination-list">
        @if (Model.PageIndex > 0)
        {
            @Html.Raw(RenderPageItem(Model.PageIndex - 1, false))
        }
        @Html.Raw(RenderPageItem(Model.PageIndex, true))
        @if (Model.PageIndex + 1 < Model.TotalPages)
        {
            @Html.Raw(RenderPageItem(Model.PageIndex + 1, false))
        }
    </ul>
</nav>

@functions
{
    private static string PageLink(int id)
    {
        return $"/simple-scheduler/executions?pageId={id}";
    }
    
    private static string CurrentClass(bool current)
    {
        return current ? "is-current" : string.Empty;
    }
    
    private static HtmlString RenderPageItem(int pageId, bool current)
    {
        var value = $"<li><a href=\"{PageLink(pageId)}\" class=\"pagination-link {CurrentClass(current)} \">{pageId}</a></li>";
        var result = new HtmlString(value);
        return result;
    }
}
