@using System.Text.Json
@using SimpleScheduler.Entities
@model SimpleScheduler.Views.SimpleScheduler.ExecutionModel

@{
    var execution = Model.ExecutionDto;
    var job = Model.ExecutionDto.Job;

    var additionalCssClass = execution.State == nameof(ExecutionState.Running) ? "" : "is-hidden";
    var title = $"{job!.Type}.{job.MethodName}";
    var errorMessage = string.IsNullOrEmpty(execution.Error) ? "" : $"\n// Got an error/errors:\n\n/* {execution.Error} */";
    var codeText = "// Executed code\n"
                   + (execution.Job?.Call ?? "")
                   + errorMessage;
    
    Layout = "_Layout";
}

<div class="grid execution-header">
    <div class="container">
        <h2 class="title is-4">@title</h2>
    </div>
    <div class="container progress-bar @additionalCssClass">
        <progress class="progress is-small is-primary" max="100">5%</progress>
    </div>
</div>

@*NOTE: this is also in simple-scheduler.js*@
<div class="grid execution-information">
    <div class="container">
        <p class="exec-@execution.Id">Id: @execution.Id</p>
        <p>Key: @execution.Key</p>

        <div class="update-info">
            <p>State: @execution.State</p>
            <p>Started: @execution.Started</p>
            <p>Ended: @execution.Ended</p>
            <p>Retry count: @execution.RetryCount</p>

        </div>
    </div>
    
    <div class="container">
        <div class="call" style="height: 100%"></div>
    </div>
</div>

<script>
    require.config({ paths: { 'vs': '/js/min/vs' }});
    require(['vs/editor/editor.main'], function() {
        window.editor = monaco.editor.create(document.querySelector(".call"),{
            value: @Html.Raw(JsonSerializer.Serialize(codeText)),
            language: 'csharp',
            automaticLayout: true,
            theme: 'vs-dark',
            readOnly: true
        });
    });
</script>
