@model SimpleScheduler.Views.SimpleScheduler.Job

@{
    
    var job = Model.JobDto;
    var executions = Model.JobDto.Executions;
    
    Layout = "_Layout";
    ViewData["Title"] = $"{job.Type}.{job.MethodName}";
}
    
<p>Key: @job.Key</p>
<p>Type: @job.Type</p>
<p>Method name: @job.MethodName</p>
<p>Next execution time: @job.NextExecutionTime</p>
<p>Recurrent: @job.IsRecurrent</p>

@* TODO enable run*@
<p>Last executions (@executions?.Count)</p>
@{
    await Html.RenderPartialAsync("_ExecutionsTable", Model.JobDto.Executions);
}
