@using SimpleScheduler
@model global::SimpleScheduler.Views.SimpleScheduler.JobModel

@{
    var job = Model.JobDto;
  
    Layout = "_Layout";
    ViewData["Title"] = $"{job.Type}.{job.MethodName}";
}

<div class="container">
    <p>Key: @job.Key</p>
    <p>Type: @job.Type</p>
    <p>Method name: @job.MethodName</p>
    <p>Next execution time: @job.NextExecutionTime</p>
    <p>Recurrent: @job.IsRecurrent</p>
</div>


<p>Last executions (max @(Constants.PAGE_SIZE))</p>
@{
    await Html.RenderPartialAsync("_ExecutionsTable", Model.JobDto.Executions);
}

